<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PangBai の收藏 - PangBai 过家家 (4)</title>
    <link rel="stylesheet" href="/assets/styles/favorite.css">
</head>

<body>
    <div class="view">
        <div class="background"></div>
        <div class="mask"></div>
        <div class="box">
            <img class="main" src="/assets/images/mygo.png" alt="MyGo!!!!!">
        </div>
    </div>
    <div class="text fixed" id="sign-text">{{ . }}</div>
</body>

</html>