<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PangBai 过家家 (4)</title>
    <link rel="stylesheet" href="/assets/styles/index.css">
    <script type="text/javascript" src="/assets/scripts/index.js"></script>
</head>

<body>
    <div class="view">
        <div class="container">
            <div class="box justify event">
                <span class="quote quote-left"></span>
                <blockquote>
                    <span id="text" class="blockquote-justify">点击此处载入存档</span>
                </blockquote>
                <span class="quote quote-right"></span>
            </div>
            <div class="select-box prevent">
                <div class="select"><a href="/eye" target="_self"><span>查看 PangBai 之眼</span></a></div>
                <div class="select"><a href="/favorite" target="_self"><span>查看 PangBai の收藏</span></a></div>
            </div>
        </div>
    </div>
</body>

</html>